body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.overview th {
    background-color: #add8e6;
    color: white;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900&display=swap');

/***************************************** normal style *****************************************/

* {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

ul {
 list-style: disc;
 margin-bottom: 0;
}

a {
 display: inline-block;
}

a:hover {
 text-decoration: none;
 color: rgba(53, 57, 69, 1.0);
}

a:focus {
 text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
}

p {
 margin-bottom: 0;
 font-size: 16px;
 line-height: 24px;
}

label {
 margin-bottom: 0;
}

img {
 max-width: 100%;
}

body {
 color: #000;
 font-family: 'Montserrat', sans-serif;
 font-size: 18px;
 line-height: 26px;
 width: 100%;
 height: 100%;
 background: #ffffff;
}

.container-fluid {
 max-width: 100%;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px;
}

.clearfix:before,
.clearfix:after {
 content: "";
 display: table;
 clear: both;
}

.clear {
 clear: both;
}

.wrapper {
 width: 100%;
 margin: 0 auto;
}

.container {
 max-width: 1150px;
 padding: 0 15px;
 width: 100%;
 margin: 0 auto;
}

.p125 {
 padding: 127px 0;
}

.p70 {
 padding: 70px 0;
}


/*header start here*/

.header {
 position: relative;
 background: #fff;
 width: 100%;
 /*box-shadow: 0 3px 3px -1px #bbb;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);*/
}

.top_header {
 color: #000;
 background: #fff;
 padding: 35px 0;
}

.navbar {
 min-height: auto;
 margin-bottom: 0px;
}

.logo {
 display: inline-block;
 width: 148px;
}

.logo a img {
 display: inline-block;
}

.logo a .logo_img {
 width: 34%;
}

.logo a .logo_text {
 width: 60%;
}

.nav_bg {
 display: inline-block;
 vertical-align: middle;
 width: 84%;
}

.nav_bg {
 text-align: right;
 position: relative;
}

.nav_bg .topmenu li {
 display: inline-block;
 margin-right: 18px;
}

.nav_bg .topmenu li:last-child {
 margin-right: 0px;
}

.nav_bg .topmenu li a {
 font-family: 'Helvetica', Helvetica, Arial, serif;
 font-size: 16px;
 line-height: 24px;
 color: rgba(53, 57, 69, 1.0);
 text-align: left;
 text-transform: capitalize;
}

.nav_bg .topmenu li a:hover {
 color: #000000;
}

.btm_header .navbar > .logo {
 display: none;
}

.logo a img {
 width: 100%;
}

.btm_header .navbar {
 width: 86%;
 margin: 0 auto;
 padding: 20px 0;
}


/* Menu-Icon-starts */

.nav-icon {
 display: none;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: .5s ease-in-out;
 -moz-transition: .5s ease-in-out;
 -o-transition: .5s ease-in-out;
 transition: .5s ease-in-out;
 cursor: pointer;
 z-index: 9;
 width: 20px;
 height: 12px;
 position: absolute;
 top: 18px;
 right: 5px;
 border-radius: 4px;
}

.nav-icon span {
 display: block;
 position: absolute;
 height: 2px;
 background: #000;
 opacity: 1;
 left: 6px;
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
 -webkit-transition: .25s ease-in-out;
 -moz-transition: .25s ease-in-out;
 -o-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
 top: 0px;
 width: 18px;
 right: 0;
 left: auto;
}

.nav-icon span:nth-child(2) {
 top: 5px;
 width: 18px;
 right: 0;
 left: auto;
}

.nav-icon span:nth-child(3) {
 top: 10px;
 width: 18px;
 right: 0;
 left: auto;
}

.nav-icon.open span:nth-child(1) {
 top: 10px;
 width: 100%;
 right: 0px;
 -webkit-transform: rotate(135deg);
 -moz-transform: rotate(135deg);
 -o-transform: rotate(135deg);
 transform: rotate(135deg);
}

.nav-icon.open span:nth-child(2) {
 opacity: 0;
}

.nav-icon.open span:nth-child(3) {
 top: 10px;
 -webkit-transform: rotate(-135deg);
 -moz-transform: rotate(-135deg);
 -o-transform: rotate(-135deg);
 transform: rotate(-135deg);
 width: 100%;
 right: 0px;
 top: 10px;
}

.nav_bg nav .top-nav {
 display: none;
}

.main-menu .top_header {
 display: none;
}


/*header end here*/


/*Main start*/

.bg_color {
 background: linear-gradient(to right, #067ef1, #0023a5);
}

.banner_sec {
 padding: 190px 0;
 width: 100%;
 margin: 0;
 text-align: center;
 box-sizing: border-box;
 position: relative;
 overflow: hidden;
 height: 600px;
 /*-webkit-animation: slide 25s ease infinite;*/
}

.banner_scroll {
 background: url(../images/banner_bg1.png) repeat 0 0;
 position: absolute;
 right: 0;
 z-index: 1;
 height: 100%;
 top: 6%;
 width: 100%;
}

.banner_scroll {
 opacity: 0;
 transform: translate(220px, 0);
 display: block;
 -webkit-animation: bp1-anima-animate-enter48-frames 8s ease-in-out 1 normal forwards;
 -moz-animation: bp1-anima-animate-enter48-frames 8s ease-in-out 1 normal forwards;
 -o-animation: bp1-anima-animate-enter48-frames 8s ease-in-out 1 normal forwards;
 animation: bp1-anima-animate-enter48-frames 8s ease-in-out 1 normal forwards;
 -webkit-animation-delay: 0s;
 -moz-animation-delay: 0s;
 -o-animation-delay: 0s;
 animation-delay: 0s
}

@-webkit-keyframes bp1-anima-animate-enter48-frames {
 0% {
  opacity: 0;
  transform: translate(220px, 0)
 }
 100% {
  opacity: 1;
  transform: translate(0, 0)
 }
}

@-moz-keyframes bp1-anima-animate-enter48-frames {
 0% {
  opacity: 0;
  transform: translate(220px, 0)
 }
 100% {
  opacity: 1;
  transform: translate(0, 0)
 }
}

@-o-keyframes bp1-anima-animate-enter48-frames {
 0% {
  opacity: 0;
  transform: translate(220px, 0)
 }
 100% {
  opacity: 1;
  transform: translate(0, 0)
 }
}

@keyframes bp1-anima-animate-enter48-frames {
 0% {
  opacity: 0;
  transform: translate(220px, 0)
 }
 100% {
  opacity: 1;
  transform: translate(0, 0)
 }
}

.banner_sec .caption {
 text-align: left;
 color: #fff;
 width: 100%;
 position: relative;
 z-index: 2;
}

.caption h3 {
 font-size: 32px;
 line-height: 49px;
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 700;
 color: rgba(255, 255, 255, 1.0);
 text-align: center;
 margin-bottom: 65px;
}

.watch_btn {
 background: #fff;
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 700;
 font-size: 16px;
 line-height: 24px;
 color: rgba(53, 57, 69, 1.0);
 position: relative;
 padding: 16px 30px 16px 60px;
 border-radius: 3px;
 transition: all 0.2s ease-in-out;
 -webkit-transition: all 0.2s ease-in-out;
 display: inline-block;
}

.watch_btn:hover {
 transform: translate(0, -5px);
 box-shadow: 0 12px 5px -8px rgba(0, 0, 0, 0.2);
}

.caption .watch_btn:before {
 content: '';
 position: absolute;
 top: 16px;
 left: 30px;
 background: url(../images/play_btn.png) no-repeat;
 z-index: 99;
 padding: 11px;
 background-size: cover;
}


/*Section 2*/

h5 {
 width: 70%;
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 500;
 font-size: 24px;
 color: rgba(66, 66, 66, 1.0);
 line-height: 32px;
 margin-bottom: 85px;
}

.icon_left {
 display: inline-block;
 width: 11%;
 margin-right: 25px;
}

.icon_left img {
 width: 100%;
}

.section2 p,
.iot_list li {
 display: inline-block;
 width: 70%;
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 500;
 font-style: normal;
 font-size: 16px;
 color: rgba(104, 104, 104, 1.0);
 line-height: 24px;
 vertical-align: middle;
}

.section3 {
 padding: 117px 0;
 overflow: hidden;
 position: relative;
}

.section3 h5 {
 width: 90%;
 font-weight: 700;
 color: rgba(255, 255, 255, 1.0);
 margin-bottom: 30px;
}

.section3 .watch_btn {
 padding: 16px 30px 16px 30px;
}

.big_circle,
.bp-tree {
 position: relative;
}

.big_circle img,
.bp-tree img {
 position: absolute;
 top: 0;
 right: 0;
}

.big_circle .big-circle1 {
 right: -17.5%;
 top: 20px;
 height: auto;
 width: 29.51%;
 margin: 0;
 -ms-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}

.big_circle .big-circle2 {
 right: 7.4%;
 top: 128px;
 height: auto;
 width: 29.55%;
 margin: 0;
 opacity: 0.8;
}

.bp-tree .bp1-path1 {
 width: auto;
 top: 150px;
 right: 11.5%;
}

.bp-tree .bp1-path2 {
 top: 167px;
 right: 9.8%;
 width: 1.95%;
}

.bp-tree .bp1-path3 {
 width: 0.95%;
 top: 170px;
 right: 11.5%;
}

.bp-tree .bp1-path4 {
 height: 93px;
 width: 93px;
 top: 59px;
 right: 9.3%;
}

.bp-tree .bp1-path5 {
 top: 134px;
 height: 51px;
 width: 51px;
 right: 12%;
}

.bp-tree .bp1-path6 {
 top: 143px;
 height: 51px;
 width: 51px;
 right: 8.7%;
}

.bp-tree .bp1-path7 {
 top: 212px;
 height: 51px;
 width: 51px;
 right: 8.4%;
}

.bp-tree .bp1-path8 {
 top: 225px;
 height: 51px;
 width: 51px;
 right: 9.8%;
}

.bp-carbg {
 position: relative;
}

.bp-carbg img {
 position: absolute;
 top: 200px;
 right: 15%;
}

.bp-carbg .carbg_path1 {
 width: 0.8%;
 top: 255px;
}

.bp-carbg .carbg_path2 {
 width: 0.8%;
 top: 255px;
 margin-right: 45px;
}

.bp-carbg .carbg_path3 {
 width: 3.3%;
 top: 250px;
 margin-right: 3px;
}

.bp-carbg .carbg_path4 {
 top: 210px;
 right: 15%;
 width: 3.4%;
}

.bp-carbg .carbg_path5 {
 width: 3.5%;
 top: 240px;
}

.bp-carbg .carbg_path6 {
 position: absolute;
 top: 218px;
 right: 15%;
 width: 3.4%;
}

.bp-carbg .carbg_path7 {
 width: 0.6%;
 top: 210px;
}

.bp-carbg.bp-carbg2 img {
 position: absolute;
 right: 19%;
}

.bp1-anima-animate-enter52 {
 transform: translate(600px, 0);
 display: block;
 -webkit-animation: bp1-anima-animate-enter52-frames 8s ease-in-out 1 normal forwards;
 -moz-animation: bp1-anima-animate-enter52-frames 8s ease-in-out 1 normal forwards;
 -o-animation: bp1-anima-animate-enter52-frames 8s ease-in-out 1 normal forwards;
 animation: bp1-anima-animate-enter52-frames 8s ease-in-out 1 normal forwards;
 -webkit-animation-delay: 0s;
 -moz-animation-delay: 0s;
 -o-animation-delay: 0s;
 animation-delay: 0s;
}

.bp1-anima-animate-enter52 img {
 position: absolute;
 top: 205px;
 right: 2.5%;
}

.bp1-anima-animate-enter52 .img_icon {
 position: absolute;
 top: 135px;
 right: 4.5%;
}

@-webkit-keyframes bp1-anima-animate-enter52-frames {
 0% {
  transform: translate(600px, 0)
 }
 100% {
  transform: translate(0, 0)
 }
}

@-moz-keyframes bp1-anima-animate-enter52-frames {
 0% {
  transform: translate(600px, 0)
 }
 100% {
  transform: translate(0, 0)
 }
}

@-o-keyframes bp1-anima-animate-enter52-frames {
 0% {
  transform: translate(600px, 0)
 }
 100% {
  transform: translate(0, 0)
 }
}

@keyframes bp1-anima-animate-enter52-frames {
 0% {
  transform: translate(500px, 0)
 }
 100% {
  transform: translate(0, 0)
 }
}

.section4 p,
.iot_list li {
 font-weight: 400;
}

.section4 {
 padding: 70px 0 10px;
}

.section4 h5 {
 margin-bottom: 20px;
}

.section4 .icon_left {
 display: block;
 margin-bottom: 20px;
 width: 12%;
 margin-left: 6px;
}

.section4 .text_left {
 margin-bottom: 70px;
}

ul.iot_list {
 list-style: disc;
 padding-left: 20px;
 margin-top: 20px;
}

ul.iot_list li {
 display: list-item;
}

.section5 {
 padding: 70px 0 70px;
 position: relative;
 overflow: hidden;
}

.sec5_img {
 position: relative;
 right: 0;
 top: 0px;
}

.big_img,
.big_circle_img,
.small_circle_img,
.small_tree img {
 position: absolute;
 right: 0;
 top: 20px;
}

.big_img {
 top: 30px;
}

.big_circle_img {
 top: 143px;
 right: 16%;
}

.small_circle_img {
 top: 190px;
 right: 30%;
 width: 15%;
}

.img4 {
 /*margin-top: 34%;
	width: 6px;
	margin-left: -10%;*/
 margin-top: 8%;
 width: 6px;
 margin-right: 27%;
 -webkit-animation: bounceIn;
 -moz-animation: bounceIn;
 -o-animation: bounceIn;
 animation: bounceIn 1s linear 1 normal forwards;
}

.img5 {
 margin-top: 10%;
 width: 26px;
 margin-right: 26%;
 -webkit-animation: bounceIn;
 -moz-animation: bounceIn;
 -o-animation: bounceIn;
 animation: bounceIn 1s linear 1 normal forwards;
}

.img6 {
 margin-top: 10%;
 width: 26px;
 margin-right: 27%;
 height: 12px;
 -webkit-animation: bounceIn;
 -moz-animation: bounceIn;
 -o-animation: bounceIn;
 animation: bounceIn 1s linear 1 normal forwards;
}

.img7 {
 margin-right: 25.5%;
 width: 66px;
 height: 66px;
 margin-top: 6%;
 -webkit-animation: bounceIn;
 -moz-animation: bounceIn;
 -o-animation: bounceIn;
 animation: bounceIn 1s linear 1 normal forwards;
}

.img8 {
 margin-right: 27.4%;
 width: 36px;
 height: 36px;
 margin-top: 8.9%;
 -webkit-animation: bounceIn;
 -moz-animation: bounceIn;
 -o-animation: bounceIn;
 animation: bounceIn 1s linear 1 normal forwards;
}

.img9 {
 margin-right: 25%;
 width: 36px;
 height: 36px;
 margin-top: 9.09%;
 -webkit-animation: bounceIn;
 -moz-animation: bounceIn;
 -o-animation: bounceIn;
 animation: bounceIn 1s linear 1 normal forwards;
}

.img10 {
 margin-right: 24.5%;
 width: 36px;
 height: 36px;
 margin-top: 11.6%;
 -webkit-animation: bounceIn;
 -moz-animation: bounceIn;
 -o-animation: bounceIn;
 animation: bounceIn 1s linear 1 normal forwards;
}

.img11 {
 margin-right: 26%;
 width: 36px;
 height: 36px;
 margin-top: 12%;
 -webkit-animation: bounceIn;
 -moz-animation: bounceIn;
 -o-animation: bounceIn;
 animation: bounceIn 1s linear 1 normal forwards;
}

@-webkit-keyframes bounceIn {
 0% {
  opacity: 0;
  -webkit-transform: scale(.3);
 }
 50% {
  -webkit-transform: scale(1.05);
 }
 70% {
  -webkit-transform: scale(.9);
 }
 100% {
  opacity: 1;
  -webkit-transform: scale(1);
 }
}

@-moz-keyframes bounceIn {
 0% {
  opacity: 0;
  -moz-transform: scale(.3);
 }
 50% {
  -moz-transform: scale(1.05);
 }
 70% {
  -moz-transform: scale(.9);
 }
 100% {
  opacity: 1;
  -moz-transform: scale(1);
 }
}

@-o-keyframes bounceIn {
 0% {
  opacity: 0;
  -o-transform: scale(.3);
 }
 50% {
  -o-transform: scale(1.05);
 }
 70% {
  -o-transform: scale(.9);
 }
 100% {
  opacity: 1;
  -o-transform: scale(1);
 }
}

@keyframes bounceIn {
 0% {
  opacity: 0;
  transform: scale(.3);
 }
 50% {
  transform: scale(1.05);
 }
 70% {
  transform: scale(.9);
 }
 100% {
  opacity: 1;
  transform: scale(1);
 }
}

h4 {
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 700;
 font-size: 32px;
 color: rgba(255, 255, 255, 1.0);
 line-height: 40px;
 margin-bottom: 20px;
}

.section5 p {
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 color: rgba(255, 255, 255, 1.0);
 margin-bottom: 50px;
}

.section5 .watch_btn {
 background: rgba(217, 217, 217, 1.0);
 opacity: 0.8;
 padding: 16px 30px 16px 30px;
}

.section5 .watch_btn:hover {
 transform: none;
 box-shadow: none;
}

.availble {
 font-size: 16px;
 line-height: 24px;
 color: rgba(255, 255, 255, 1.0);
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 600;
 padding-left: 15px;
}

.sec5_icon {
 width: 67%;
 margin: 32px auto;
}

.section6 h5 {
 width: 100%;
 margin-bottom: 25px;
}

.section6 h5.width70 {
 width: 70%;
}

.section6 p {
 color: rgba(104, 104, 104, 1.0);
}

.section6 .section6_cont {
 margin-bottom: 70px;
}

.section6 .section6_cont:nth-child(odd) .text_right {
 padding-left: 28px;
}

.section6 .section6_cont:nth-child(even) .text_right {
 padding-right: 28px;
}

.section7 {
 position: relative;
 padding-bottom: 100px;
 width: 100%;
 height: auto;
 overflow: hidden;
}

.sec7_cont {
 background-color: rgba(0, 0, 0, 0.4);
 width: 855px;
 /*width: 45.7%;*/
 padding: 80px 40px 30px;
 position: relative;
 z-index: 9;
 margin-left: 18%;
}

.sec7_cont p {
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 500;
 color: rgba(255, 255, 255, 1.0);
 margin-bottom: 22px;
}

.banner7_scroll {
 pointer-events: none;
 background: url('../images/banner7_scroll.png');
 position: absolute;
 left: 0;
 z-index: 1;
 height: 100%;
 top: 0;
 min-width: 2591px;
 width: 100%;
 background-size: 100% 100%;
 transform: none;
 display: block;
 -webkit-animation: bp1-anima-animate-enter61-frames 8s ease-in-out 1 normal forwards;
 -moz-animation: bp1-anima-animate-enter61-frames 8s ease-in-out 1 normal forwards;
 -o-animation: bp1-anima-animate-enter61-frames 8s ease-in-out 1 normal forwards;
 animation: bp1-anima-animate-enter61-frames 8s ease-in-out 1 normal forwards;
 -webkit-animation-delay: 0s;
 -moz-animation-delay: 0s;
 -o-animation-delay: 0s;
 animation-delay: 0s
}

.banner7_scroll img {
 width: 100%;
}

@-webkit-keyframes bp1-anima-animate-enter61-frames {
 0% {
  transform: translate(-400px, 0)
 }
 100% {
  transform: translate(0, 0);
 }
}

@-moz-keyframes bp1-anima-animate-enter61-frames {
 0% {
  transform: translate(-400px, 0)
 }
 100% {
  transform: translate(0, 0);
 }
}

@-o-keyframes bp1-anima-animate-enter61-frames {
 0% {
  transform: translate(-400px, 0)
 }
 100% {
  transform: translate(0, 0);
 }
}

@keyframes bp1-anima-animate-enter61-frames {
 0% {
  transform: translate(-400px, 0);
 }
 100% {
  transform: translate(0, 0);
  left: 0;
 }
}

.section8 {
 position: relative;
 padding: 80px 0 0;
}

.section8 .head_sec h4 {
 color: rgba(66, 66, 66, 1.0);
 margin-bottom: 40px;
}

.single_team {
 margin-bottom: 70px;
 overflow: hidden;
 position: relative;
}

.single_team:hover {
 transform: scale(1.1)!important;
}

.team_link {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 right: 0;
 bottom: 0;
 text-align: center;
 z-index: 1;
 display: block;
}

.sec8_cont {
 width: 69%;
 overflow: hidden;
 padding: 0 0 0 7.5%;
}

.padding0 {
 padding: 0;
}

.social_icon {
 cursor: pointer;
}

.social_icon {
 float: right;
 width: 32px;
 padding: 4px;
}

.team_img {
 text-align: center;
 height: 144px;
 width: 144px;
 display: inline-block;
 vertical-align: top;
 margin-right: 20px;
}

.team_img img {
 width: 100%;
 border-radius: 50%;
 -webkit-filter: grayscale(100%);
 -o-filter: grayscale(100%);
 -moz-filter: grayscale(100%);
 -ms-filter: grayscale(100%);
 filter: grayscale(100%);
}

.team_bio {
 display: inline-block;
 width: 64%;
 vertical-align: top;
}

.bp1-info {
 display: inline-block;
 margin-bottom: 15px;
}

.team_bio .name {
 font-weight: 700;
 font-size: 16px;
 color: rgba(66, 66, 66, 1.0);
 line-height: 32px;
}

.team_bio .founder_dsgn {
 font-weight: 500;
 font-size: 14px;
 color: rgba(104, 104, 104, 1.0);
 line-height: 16px;
}

.team_desc {
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-weight: 400;
 font-style: normal;
 font-size: 14px;
 color: rgba(104, 104, 104, 1.0);
 line-height: 20px;
}

.section8 .sec8_cont .col-md-6:nth-child(odd) .single_team {
 padding-left: 40px;
}

.section9 {
 background: url('../images/bg_9.png') no-repeat 0 0, linear-gradient(to right, #067ef1, #0023a5);
 background-position: right;
 width: 100%;
 height: auto;
 padding: 80px 0 30px;
 position: relative;
}

.section9 h4 {
 width: 50%;
 margin-bottom: 50px;
}

.event_lists {
 width: 68%;
}

.single_event {
 transition: all 0.2s ease-in-out;
}

.single_event:hover {
 transform: scale(1.05);
}

.event_list {
 margin-bottom: 35px;
}

.section9 .event_list span {
 font-weight: 400;
 font-size: 16px;
 color: rgba(255, 255, 255, 1.0);
 line-height: 24px;
 display: block;
}

.section9 .event_list p {
 font-weight: 700;
 font-size: 16px;
 color: rgba(255, 255, 255, 1.0);
 line-height: 24px;
}

.section9 .event_list a {
 opacity: 0.8;
 font-weight: 500;
 font-size: 14px;
 color: rgba(255, 255, 255, 1.0);
 line-height: 24px;
 display: block;
}

.section9 .event_list a img {
 width: 12px;
 height: 12px;
 vertical-align: baseline;
 margin-left: 2px;
}

.padding0 {
 padding: 0;
}


/*Inner Page*/

h1 {
 font-weight: 700;
 font-size: 50px;
 line-height: 88px;
 color: rgba(0, 0, 0, 1.0);
 margin-bottom: 0px;
}

.innerpage_sec2 {
 padding: 80px 0;
}

.innerpage_sec2 h5 {
 margin-bottom: 25px;
}

.innerpage_sec2 p {
 font-weight: 500;
 color: rgba(104, 104, 104, 1.0);
 margin-bottom: 25px;
}

.innerpage_sec3 {
 padding: 150px 0;
}

.innerpage_sec3 h4 {
 margin-bottom: 0;
}

.blockchain_sec {
 color: rgba(255, 255, 255, 1.0);
}

h2 {
 font-weight: 700;
 font-size: 32px;
 line-height: 80px;
 margin: 8px 0;
}

.innerpage_sec3 {
 position: relative;
 overflow: hidden;
}

.innerpage_sec4 {
 padding: 80px 0;
}

.innerpage_sec4 h5 {
 margin-bottom: 30px;
}

.innerpage_sec4 p,
.innerpage_sec4 li {
 font-size: 16px;
 line-height: 24px;
 font-weight: 500;
 color: rgba(104, 104, 104, 1.0);
 margin-bottom: 20px;
}

.innerpage_sec4 ul,
.innerpage_sec4 ol {
 padding-left: 18px;
}

.single_tech {
 margin-bottom: 80px;
}

.innerpage_sec5 {
 padding: 80px 0;
 overflow: hidden;
 position: relative;
}

.innerpage_sec5 h4 {
 width: 55%;
}

.innerpage_sec5 .sec5_img {
 top: 60px;
}

.innerpage_sec5 p {
 font-weight: 500;
 margin-bottom: 40px;
}

.innerpage_sec5 .watch_btn {
 padding: 16px 30px 16px 30px;
}

.innerpage_sec5 .watch_btn:hover {
 transform: none;
 box-shadow: none;
}

.zoom_img1 {
 pointer-events: none;
 background-color: rgba(255, 255, 255, 0.0);
 right: 20%;
 top: 25%;
 height: 50%;
 width: 38%;
 position: absolute;
 margin: 0;
 -ms-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 transform: translateY(-25%);
 overflow: hidden;
 -webkit-animation: zoom 8s ease-in-out 1 normal forwards;
 -moz-animation: zoom 8s ease-in-out 1 normal forwards;
 -o-animation: zoom 8s ease-in-out 1 normal forwards;
 animation: zoom 8s ease-in-out 1 normal forwards;
 -webkit-animation-delay: 0s;
 -moz-animation-delay: 0s;
 -o-animation-delay: 0s;
 animation-delay: 0s;
}

@-webkit-keyframes zoom {
 0% {
  transform: scale(1.2);
 }
 100% {
  transform: scale(1);
 }
}

@-moz-keyframes zoom {
 0% {
  transform: scale(1.2);
 }
 100% {
  transform: scale(1);
 }
}

@-o-keyframes zoom {
 0% {
  transform: scale(1.2);
 }
 100% {
  transform: scale(1);
 }
}

@keyframes zoom {
 0% {
  transform: scale(1.2);
 }
 100% {
  transform: scale(1);
 }
}

.zoom_img2 {
 top: 0;
 right: auto;
 left: 33%;
}

.zoom_img2 img {
 left: 4%;
 right: 0;
 text-align: center;
 top: 0;
 position: absolute;
 margin: 0 auto;
 -ms-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
}

.zoom_img2 .zoom-1 {
 width: 6%;
}

.zoom_img2 .zoom-2 {
 width: 34px;
 height: 40px;
 top: 11%;
 left: 11.5%;
}

.zoom_img2 .zoom-3 {
 width: 24px;
 height: 27px;
 top: 12.4%;
 left: 11.5%;
}

.zoom_img2 .zoom-4 {
 width: 18px;
 height: 30px;
 top: 13%;
 left: 10.6%;
}

.zoom_img2 .zoom-5 {
 width: 34px;
 height: 19px;
 top: 11%;
 left: 11.5%;
}

.zoom_img2 .zoom-6 {
 width: 6px;
 height: 6px;
 top: 10%;
 left: 11.5%;
}

.zoom_img2 .zoom-7 {
 width: 7px;
 height: 7px;
 top: 10%;
 left: 11.5%;
}

.zoom_img2 .zoom-8 {
 width: 7px;
 height: 5px;
 top: 9.5%;
 left: 11.5%;
}


/*main end here*/


/*footer start here*/

.footer {
 position: relative;
 font-size: 18px;
 line-height: 30px;
 color: #fff;
}

.footer_sec {
 width: 86%;
 margin: 0 auto;
}

.footer .logo {
 width: 140px;
}

.footer a .logo_text {
 padding-left: 3px;
}

.footer_text {
 text-align: center;
 display: inline-block;
 vertical-align: middle;
 width: 67%;
}

.footer_text h5 {
 font-size: 24px;
 color: rgba(53, 57, 69, 1.0);
 text-align: center;
 line-height: 32px;
 width: 60%;
 margin: 0 auto;
}

.social_media {
 display: inline-block;
 vertical-align: middle;
 width: 17%;
}

.social_media ul li {
 display: inline-block;
 vertical-align: middle;
 margin: 0 12px;
}

.social_media ul li a {
 width: 25px;
 height: 20px;
}


/*footer end here*/


/*default page style*/

.defpage h1,
.defpage h2,
.defpage h3,
.defpage h4,
.defpage h5,
.defpage h6 {
 padding-bottom: 5px;
 font-style: normal;
 text-align: left;
 color: #343434;
 padding: 0px;
}

.defpage p {
 font-size: 18px;
 line-height: 30px;
}

.defpage ul li {
 color: #272728;
 font-weight: 500;
 font-size: 18px;
 word-wrap: break-word;
 padding-left: 5px;
 line-height: 26px;
 list-style: disc;
}

.defpage ul {
 padding-bottom: 10px;
 padding-left: 18px;
}

.defpage ol li {
 font-size: 15px;
 font-weight: 500;
 line-height: 26px;
 list-style: disc;
}

.defpage table {
 margin: 10px 0px;
}

.defpage table th {
 padding-right: 10px;
}

.defpage table tr td {
 padding: 5px 0px;
}

.defpage blockquote p {
 padding-left: 13px;
}

.defpage .pagination {
 padding-top: 15px;
}

.defpage.nav-links {
 padding-top: 10px;
 padding-bottom: 10px;
}

.defpage .page-numbers {
 background: #FFFFFF;
 padding: 6px 13px;
}

.defpage .page-numbers.current {
 background: #000000;
 color: #FFF;
}

.defpage .nav-links a {
 display: inline-block;
}

.defpage hr {
 margin: 10px 0px;
}


/*Contact Page*/

.page-id-28 .banner_sec {
 padding: 100px 0;
}

.contact_page {
 max-width: 450px;
 width: 100%;
}

.wpcf7-form .wpcf7-form-control {
 width: 100%;
 font-family: 'Montserrat', Helvetica, Arial, serif;
 font-style: normal;
 font-size: 16px;
 color: rgba(53, 57, 69, 1.0);
 text-align: left;
 line-height: 24px;
 border: 0;
 padding: 15px;
 border-radius: 4px;
 transition: all 0.2s ease-in-out;
 font-weight: 700;
}

.contact_page .wpcf7-form ul {
 list-style: none;
}

.contact_page .wpcf7-form ul li {
 margin-bottom: 20px;
}

.contact_page .wpcf7-form ul li textarea {
 height: 150px;
 resize: none;
}

.wpcf7-form .wpcf7-form-control.wpcf7-submit {
 width: auto;
}

.wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
 transform: translate(0, -5px);
 box-shadow: 0 12px 5px -8px rgba(0, 0, 0, 0.2);
}


/* New Page Styles */

.our_partner_sec {
 padding: 80px 0;
}

.partner_logo {
 display: inline-block;
 vertical-align: middle;
 width: 144px;
 height: 144px;
 line-height: 140px;
 text-align: center;
}

.partner_txt {
 display: inline-block;
 vertical-align: middle;
 width: 72%;
 padding-left: 10px;
}

.partner_txt h6 {
 font-weight: 700;
 font-style: normal;
 font-size: 16px;
 color: rgba(66, 66, 66, 1.0);
 line-height: 24px;
 margin-bottom: 10px;
}

.partner_txt p {
 font-weight: 500;
 font-style: normal;
 font-size: 14px;
 color: rgba(104, 104, 104, 1.0);
 line-height: 16px;
}

.award_sec {
 background: rgba(250, 250, 250, 1.0);
 padding: 42px 0;
}

.award_txt {
 padding-top: 70px;
 padding-left: 60px;
}

.award_img img {
 border-radius: 8px;
}

.award_txt p {
 font-weight: 500;
 font-style: normal;
 font-size: 14px;
 line-height: 16px;
 margin-bottom: 10px;
 color: rgba(104, 104, 104, 1.0);
}

.award_txt em {
 font-weight: 500;
 font-style: italic;
 font-size: 12px;
 line-height: 16px;
 display: block;
 color: rgba(104, 104, 104, 1.0);
}


/*News and Event Page*/

.news_events .event_lists {
 width: 100%;
}

.news_events.section9 h4 {
 width: 80%;
}

.news_events .col-md-4 .sec9_cont {
 padding: 30px 10px 0;
}

.news_events .col-md-8 .sec9_cont {
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.24);
 padding: 30px 30px 0;
}

.news_events .section9 {
 padding: 50px 0 50px;
}

.faq_sec .single_tech h5 {
 color: rgba(53, 57, 69, 1.0);
}

.faq_sec .single_tech p a {
 font-weight: 600;
 font-size: 16.0px;
 color: rgba(5, 111, 229, 1.0);
 text-align: left;
 line-height: 24.0px;
 text-decoration: underline;
 font-family: 'Montserrat', Helvetica, Arial, serif;
 
}

.innerpage_sec4.faq_sec .single_tech {
 transition: all 0.2s ease-in-out;
}

.faq_sec .single_tech:hover {
 transform: scale(1.05);
}