<html>
    <head>
        {% if title %}
        <title>AnyLog Network ({{ title }})</title>
        {% else %}
        <title>AnyLog Network</title>
        {% endif %}
    </head>
    <body>
        <div>
            AnyLog:
            <a href="{{ url_for('index') }}">AnyLog</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('machine') }}">Machine</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>

