<html>
    <!-- process: title +  user_gui + dynamic_gui + flush messages (errors) -->
    <head>
        <!-- Tab Display -->
        {% if title %}
        <title>AnyLog Network ({{ title }})</title>
        {% else %}
        <title>AnyLog Network</title>
        {% endif %}
    </head>
    <body>
        <div>
            <!-- System Fixed Pages -->
            AnyLog Network:&nbsp
            <a href="{{ url_for('login') }}">Login</a>&nbsp
            <a href="{{ url_for('alerts') }}">Alerts</a>&nbsp
            <a href="{{ url_for('configure') }}">Config</a>&nbsp
            <a href="{{ url_for('network') }}">Network</a>&nbsp
            <a href="{{ url_for('network') }}">Policies</a>&nbsp
        </div>
        <div>
            <!-- Customer specific pages -->
            {% if user_gui %}
                {%- for text, url_target in user_gui -%}
                   
                    <a href="{{ url_target }}">{{text}}</a>&nbsp
                    
                {%- endfor -%}
            {% endif %}
            <a href="{{ url_for('reports') }}">Reports</a>&nbsp
        </div>
        <div>
            <!-- Home Page -->
            <a href="{{ url_for('index') }}">Home</a>&nbsp
            <!-- Dynamic Pages - based on the config (JSON) file -->
            {% if dynamic_gui %}
                {%- for text, url_target in dynamic_gui -%}
                   
                    <a href="{{ url_target }}">{{text}}</a>&nbsp
                    
                {%- endfor -%}
            {% endif %}
           
        </div>
        <hr>
        <!-- ERROR Messages placed in Flush -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>

