{% extends "base.html" %}

{% block content %}

<form action="{{url_for('conf_nav_report')}}" method="POST">

    <br>
    {%  for panel in dashboard.panels %}
        <br>
        {{ panel.name }}
        <br>

       <!-- Selected checkboxes of report - Min, Max, Avg -->
        {% for option in panel.chek_box_options %}
            <!-- Select functionality  -->
            {% if option in panel.chek_box_selected %}
                <input type="checkbox" name="checkbox.{{ panel.panel_type }}.{{option}}" id={{option}} checked>
            {%  else %}
                <input type="checkbox" name="checkbox.{{ panel.panel_type }}.{{option}}" id={{option}}>
            {%  endif %}
            <label for={{option}}>{{option}}</label>&nbsp
        {% endfor %}


        <br>
        <hr>
    {% endfor %}

    <br>

    <!-- Select Dates  -->
    {%  if dashboard.time_config %}

        <label for="start-date">Start: </label>
        {%  if dashboard.time_config.default_from %}
            <input type="datetime-local" id="date_start" name="date_start" value={{dashboard.time_config.default_from}}>
        {%  else %}
            <input type="datetime-local" id="date_start" name="date_start">
        {%  endif %}

        &nbsp&nbsp&nbsp
        <label for="end-date">End:   </label>
        {%  if dashboard.time_config.default_to %}
            <input type="datetime-local" id="date_end" name="date_end" value={{dashboard.time_config.default_to}}>
        {%  else %}
            <input type="datetime-local" id="date_end" name="date_end">
        {%  endif %}


        <!-- Select Date Range  -->
        &nbsp&nbsp&nbsp
        {%  if dashboard.time_config.time_options %}
            <label for="date_range">Date Range:</label>
                <select name="date_range" id="date_range">
                    {% if dashboard.time_config.text_selected  %}
                         <!-- set date range selection as previous selection -->
                        <option value={{dashboard.time_config.time_selected}}>{{dashboard.time_config.text_selected}}</option>
                    {% else %}}
                        <option value="">Dates selection</option>
                    {% endif %}
                    {% for option in dashboard.time_config.time_options %}
                        <option value={{option[1]}}>{{option[0]}}</option>
                    {% endfor %}
                </select>

        {%  endif %}
    {%  endif %}


    <br><br>
    <input type="submit" value="Apply" name="Submit">

</form>
    
{% endblock %}