

{% extends "base.html" %}

  
{% block content %}

    <h1>{{title}}</h1>
    <form action="{{ url_for('al_command') }}" method="post">
        <p>
            {{ form.report_name.label }}<br>
            {{ form.report_name(size = 16) }}<br>
        </p>
        <p>
            {{ form.new_name.label }}<br>
            {{ form.new_name(size = 16) }}<br>
        </p>

        <p>{{ form.make_default() }} {{form.make_default.label}}</p>
        <p>{{ form.reset() }} {{form.reset.label}}</p>

        <p>{{ form.deploy() }}</p>
    </form>
{% endblock %}

