

{% extends "base.html" %}

{% block content %}
    <!-- process: title (for tab) + user_name + user_gui + parent_gui + child_gui + flush messages (errors) -->

    <p>
    {% if map_url %}
        <iframe src="{{ map_url }}" width="450" height="400" frameborder="10" align="right" class="nodes-map"></iframe>
    {% endif %}

    {% if user_gui %}
        <h3>Reports</h3>
        <p>
        {%- for text, url_target in user_gui -%}
       
            <a href="{{ url_target }}">{{text}}</a><br>
        
        {%- endfor -%}
        </p>
    {% endif %}
    </p>
    <hr>
    <h3><br><a href="{{ url_for('metadata') }}">Views & Reports</a></h3>

 {% endblock %}
