



{% extends "base.html" %}

{% block content %}

<form action="{{url_for('metadata')}}/123" method="POST">

<ul class="tree">

    {% for child in tree_node.children %}

        {% if child.first_child %}
            <ul>
        {% endif %}

        {% if child.last_child  %}
            <li class="last">
        {% else %}
            <li>
        {% endif %}

        {% if child.key  %}
                <!-- View position or select position  -->
                <input type="submit" value="View" name={{child.key}}>   &nbsp
                <a href="{{url_for('metadata')}}/{{child.key}}">{{child.key}}</a>

        {% endif %}
        {% if child.value  %}
            &nbsp : &nbsp
            <span class="key">
            {{child.value}}
            </span>
        {% endif %}


        {% if child.last_child %}
            </li>
            </ul>
        {% else %}
            {% if child.with_children %}
            {% else %}
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}

</ul>

<br>
<input type="submit" value="Submit" name="Submit">

{% endblock %}
