



{% extends "base.html" %}

{% block content %}

{% if selection %}
<!-- Add the usr path to the form (if provided)  -->
<form action="{{url_for('metadata')}}/{{selection}}" method="POST">
{% else %}
<form action="{{url_for('metadata')}}" method="POST">
{% endif %}

<ul class="tree">

    {% for node in nodes_list %}

        {% if node %}        <!--  The node is not None   -->

                {% if node.first_child %}
                    <ul>        <!--  Start unordered list   -->
                {% endif %}

                <!--  List Item starts  -->
                {% if node.last_child  %}
                    <li class="last">
                {% else %}
                    <li>
                {% endif %}

                {% if node.name  %}
                        <!-- View Policy or Select or Navigate  -->
                        {% if node.details  %}
                             <input type="submit" value="View" name={{node.id}}>
                        {% endif %}
                        {% if selection  %}
                            {% if node.dbms_name  %}
                                <!-- Flag to select the edge (for a report) -->
                                <td><input type=checkbox name=selected.{{node.dbms_name}}.{{node.table_name}}></td>
                                <!-- Or go directly to a report -->
                                <a href="{{url_for('metadata')}}/{{selection}}?report={{node.dbms_name}}@{{node.table_name}}?">{{node.name}}</a>
                            {% else %}
                                <a href="{{url_for('metadata')}}/{{selection}}@{{node.name}}">{{node.name}}</a>
                            {% endif %}
                        {% else %}
                            <a href="{{url_for('metadata')}}/{{node.name}}">{{node.name}}</a>
                        {% endif %}
                {% elif node.policy_key %}
                         <!-- View a policy (key and value)  -->
                        <font color = "black">{{node.policy_key}}</font>
                        {% if node.policy_value  %}
                            &nbsp <font color = "black">:</font>  &nbsp
                            <font color = "green">{{node.policy_value}}</font>
                        {% endif %}
                {% endif %}

                {% if node.with_children %}
                    
                {% else %}
                    </li>
                {% endif %}

        {% else %}
             <!--  Node is None - end of list -->
                </li>
                </ul>
        {% endif %}
    {% endfor %}

    <br>
    <hr>
     <!-- If edge nodes that can be selected to a report -->
        <input type="submit" value="Configure" name="Configure">    <!-- Configure report -->
        <input type="submit" value="Save" name="Save">    <!-- Save selected edge to report -->
        <input type="submit" value="Report" name="Report">   <!-- Take selected edge to report -->

</ul>

{% endblock %}
