

{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/monitored_topic.css') }}">
    <meta http-equiv="refresh" content="10; {{url_for('monitor_topic')}}/{{ topic }}">
    <form action="{{url_for('monitor_topic')}}/{{ topic }}">


     {% if table_title %}
        <h3>{{ topic }}</h3><br>
    {% endif %}

    <table>
        <thead class="monitor-table-header">
        <tr>    <!-- table header  -->
            {% for col_name in header %}
                <td>{{col_name}}</td> <!-- table cell  -->
            {% endfor %}
        </tr>
        </thead>
        <tbody class="monitor-table-rows">
        {% for row in rows %}
        <tr>
            {% for col_val in row %}
                <td>{{ col_val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>

{% endblock %}
