

{% extends "base.html" %}

{% block content %}

    <iframe src="http://127.0.0.1:3000/d/_E5NK3uMz/my_report?viewPanel=1&orgId=1&from=now-2M&to=now" width="450" height="400" frameborder="10"></iframe>


    <iframe src="http://127.0.0.1:3000/d/nfDMna9Gz/current_status?viewPanel=1&orgId=1&from=-2M&to=now" width="450" height="400" frameborder="10"></iframe>

    <iframe src="http://127.0.0.1:3000/d/nfDMna9Gz/current_status?orgId=1&from=-2M&to=now" width="450" height="400" frameborder="10"></iframe>


    <iframe src="http://127.0.0.1:3000/d/nfDMna9Gz/current_status?editPanel=2&orgId=1&from=-2M&to=now" width="450" height="400" frameborder="10"></iframe>

 {% endblock %}
