

{% extends "policies.html" %}

    {% block content %}

    <form action="{{url_for('policies')}}/{{policy_name}}" method="POST">

        {{ super() }}

        <h1>{{ policy_name }}</h1>


        {% for attribute in policy %}
            <!-- Space from previous or new line  -->
            {% if attribute.space %}
                {% for i in range (attribute.space) %}
                    &nbsp
                {% endfor %}
            {% else %}
            <br>
            {% endif %}
             <!-- Get data -->
            <label for={{attribute.key}}>{{attribute.name}}:</label>
            <input type={{attribute.type}} name={{attribute.key}} id={{attribute.key}}>


        {% endfor %}

        <br>
         <br>
        <input type="submit" value="Submit" name="Submit">

    {% endblock %}


