{% extends "base.html" %}

{% block content %}


<h1>{{ title }}</h1>

<form action="{{url_for('selected')}}" method="POST"></form>
    <table border="1">
        <tr>    <!-- table row  -->
            {% for col_name in table.column_names %}
                <td>{{col_name}}</td> <!-- table cell  -->
            {% endfor %}
            {% for extra_column in table.extr_col %}
                <td>{{extra_column[0]}}</td> <!-- extra cell name  -->
            {% endfor %}
        </tr>
        {% for row in table.rows %}
        <tr>
            {% for col_val in row %}
                <td>{{ col_val }}</td>
            {% endfor %}
            {% for extra_column in table.extr_col %}
                <td><input type={{extra_column[1]}} name={{extra_column[0]}}.{{row[0]}}></td> <!-- extra cell name  -->
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <hr>
    <hr>
    <br>
    {% for option in options_list %}
        <input type="radio" id={{option}}  name={{option}}  value={{option}}> <!-- Select functionality  -->
        <label for={{option}}>{{option}}</label>&nbsp
    {% endfor %}
    <br><br>
    <label for="start-date">Start: </label>
    <input type="datetime-local" id="start-date" name="start-date">
    &nbsp&nbsp&nbsp
    <label for="end-date">End:   </label>
    <input type="datetime-local" id="end-date" name="end-date">

</form>
    
{% endblock %}