{% extends "base.html" %}

{% block content %}

<form action="{{url_for('selected')}}" method="POST">
    {% for table in tables_list %}
    <table border="1">
        <tr>
            {% for col_name in table.column_names %}
                <td>{{col_name}}</td>
            {% endfor %}
        </tr>
        {% for row in table.rows %}
        <tr>
            {% for col_val in row %}
            <td>{{ col_val }}</td>
            {% endfor %}
            <td><input type="checkbox" name="123"/></td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
    <input type="submit" value="Return">
</form>


    
{% endblock %}